  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Dashboard</h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <!-- Default box -->
              <div class="card card-primary card-outline">
                <div class="card-header">
                  <h3 class="card-title">
                      <i class="far fa-star"> </i>
                      Start accepting orders
                  </h3>
                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                      <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                      <i class="fas fa-times"></i>
                    </button>
                  </div>
                </div>
                <div class="card-body">
                  <!-- small box -->
                  <div class="card-welcome">
                    <h4>Welcome to your store!</h4>
                    <div>
                      Can’t wait to start accepting orders? Let us show you how to set up your store fast and easy. The steps below describe the most important settings for the online shop. With our tips on each page you will see how clear this process is. You will be ready to start selling immediately after you go through these steps. So good luck!
                    </div>
                  </div>              
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
          </div>
        </div>
      </section>
    <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <!-- Default box -->
              <div class="card card-primary card-outline">
                <div class="card-header">
                  <h3 class="card-title">
                      <i class="far fa-newspaper"> </i>
                      NopCommerce News
                  </h3>
                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                      <i class="fas fa-minus"></i>
                    </button>
                  </div>
                </div>
                <div class="card-body">

                  <div class="row">
                    <div class="col-md-4">
                      <!-- Default box -->
                      <div class="card card-info">
                        <div class="card-header clearfix">
                            "Powered by nopCommerce" link
                        </div>
                        <div class="card-body">
                          Would you like to remove the "Powered by nopCommerce" link in the bottom of the footer? Click here for more info.
                        </div>
                        <!-- /.card-body -->
                      </div>
                      <!-- /.card -->
                    </div>
                    <div class="col-md-4">
                      <!-- Default box -->
                      <div class="card card-info">
                        <div class="card-header clearfix">
                            Premium support services
                        </div>
                        <div class="card-body">
                          Get dedicated support from the nopCommerce team with a guaranteed response within 24 hours. Click here for more info.
                        </div>
                        <!-- /.card-body -->
                      </div>
                      <!-- /.card -->
                    </div>
                    <div class="col-md-4">
                      <!-- Default box -->
                      <div class="card card-info">
                        <div class="card-header clearfix">
                            Recommended hosting for your store
                        </div>
                        <div class="card-body">
                          Everleap cloud hosting seamlessly scales sites with ease and they move stores for free. Learn more and get a 30 day free trial.
                        </div>
                        <!-- /.card-body -->
                      </div>
                      <!-- /.card -->
                    </div>
                  </div>

                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
          </div>
        </div>
      </section>
      <section class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                <!-- Default box -->
                <div class="card card-primary card-outline">
                  <div class="card-header">
                    <h3 class="card-title">
                        <i class="far fa-chart-bar"> </i>
                        Common statistics
                    </h3>
                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-minus"></i>
                      </button>
                    </div>
                  </div>
                  <div class="card-body">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-info">
                <div class="inner">
                  <h3>5</h3>
  
                  <p>Orders</p>
                </div>
                <div class="icon">
                  <i class="ion ion-bag"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-success">
                <div class="inner">
                  <h3>0</h3>
  
                  <p>Pending return requests</p>
                </div>
                <div class="icon">
                  <i class="ion ion-stats-bars"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-warning">
                <div class="inner">
                  <h3>6</h3>
  
                  <p>Registered customers</p>
                </div>
                <div class="icon">
                  <i class="ion ion-person-add"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-danger">
                <div class="inner">
                  <h3>1</h3>
  
                  <p>Low stock products</p>
                </div>
                <div class="icon">
                  <i class="ion ion-pie-graph"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <!-- ./col -->
          </div>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
              </div>
            </div>
          </div>
        </section>
    <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 col-sm-6">
              <!-- Default box -->
              <div class="card card-primary card-outline">
                <div class="card-header">
                  <h3 class="card-title">
                      <i class="fas fa-shopping-cart"> </i>
                      Orders
                  </h3>
                  <div class="card-tools float-right">
                    <button class="btn btn-xs btn-info btn-flat margin-r-5" data-chart-role="toggle-chart" data-chart-period="year">Year</button> 
                    <button class="btn btn-xs btn-info btn-flat margin-r-5" data-chart-role="toggle-chart" data-chart-period="month">Month</button> 
                    <button class="btn btn-xs btn-info btn-flat bg-light-blue" data-chart-role="toggle-chart" data-chart-period="week">Week</button> 
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                      <i class="fas fa-minus"></i>
                    </button>
                  </div>
                </div>
                <div class="card-body">
                  <div class="chart">
                    <canvas id="areaChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                </div>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <div class="col-12 col-sm-6">
              <!-- Default box -->
              <div class="card card-primary card-outline">
                <div class="card-header">
                  <h3 class="card-title">
                      <i class="far fa-user"> </i>
                      New customers
                  </h3>
                  <div class="card-tools">
                    <button class="btn btn-xs btn-info btn-flat margin-r-5" data-chart-role="toggle-chart" data-chart-period="year">Year</button>
                    <button class="btn btn-xs btn-info btn-flat margin-r-5" data-chart-role="toggle-chart" data-chart-period="month">Month</button> 
                    <button class="btn btn-xs btn-info btn-flat bg-light-blue" data-chart-role="toggle-chart" data-chart-period="week">Week</button> 
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                      <i class="fas fa-minus"></i>
                    </button>
                  </div>
                </div>
                <div class="card-body">
                  <div class="chart">
                    <canvas id="lineChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
                  </div>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
          </div>
        </div>
      </section>
    <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8">
              <!-- Default box -->
              <div class="card card-primary card-outline">
                <div class="card-header">
                  <h3 class="card-title">
                      <i class="far fa-money-bill-alt"> </i>
                      Order totals
                  </h3>
                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                      <i class="fas fa-minus"></i>
                    </button>
                  </div>
                </div>
                <div class="card-body">
                  <table mat-table [dataSource]="dataSource" class="table table-striped table-bordered">
                    <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->
                    <ng-container matColumnDef="Order Status">
                      <th mat-header-cell *matHeaderCellDef> Order Status </th>
                      <td mat-cell *matCellDef="let element"> {{element.orderStatus}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Today">
                      <th mat-header-cell *matHeaderCellDef style="padding-left: 8px"> Today </th>
                      <td mat-cell *matCellDef="let element" style="padding-left: 8px"> {{element.toDay}} </td>
                    </ng-container>
                    <ng-container matColumnDef="This Week">
                      <th mat-header-cell *matHeaderCellDef style="padding-left: 8px"> This Week </th>
                      <td mat-cell *matCellDef="let element" style="padding-left: 8px"> {{element.thisWeek}} </td>
                    </ng-container>
                    <ng-container matColumnDef="This Month">
                      <th mat-header-cell *matHeaderCellDef style="padding-left: 8px"> This Month </th>
                      <td mat-cell *matCellDef="let element" style="padding-left: 8px"> {{element.thisMonth}} </td>
                    </ng-container>
                    <ng-container matColumnDef="This Year">
                      <th mat-header-cell *matHeaderCellDef style="padding-left: 8px"> This Year </th>
                      <td mat-cell *matCellDef="let element" style="padding-left: 8px"> {{element.thisYear}} </td>
                    </ng-container>
                    <ng-container matColumnDef="All time">
                      <th mat-header-cell *matHeaderCellDef style="padding-left: 8px"> All time </th>
                      <td mat-cell *matCellDef="let element" style="padding-left: 8px"> {{element.allTime}} </td>
                    </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                  <div class="right">
                    <button type="button">
                      <span><i class="fas fa-sync-alt" style="padding: auto"></i></span>
                    </button> 
                  </div>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <div class="col-md-4">
              <!-- Default box -->
              <div class="card card-primary card-outline">
                <div class="card-header">
                  <h3 class="card-title">
                      <i class="fas fa-hourglass-start"> </i>
                      Incomplete orders
                  </h3>
                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                      <i class="fas fa-minus"></i>
                    </button>
                  </div>
                </div>
                <div class="card-body">
                  <table mat-table [dataSource]="dataSourceIncomplete" class="table table-striped table-bordered">
                    <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->
                    <ng-container matColumnDef="Item">
                      <th mat-header-cell *matHeaderCellDef style="padding-left: 8px"> Item </th>
                      <td mat-cell *matCellDef="let element" style="padding-left: 8px"> {{element.item}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Total">
                      <th mat-header-cell *matHeaderCellDef style="padding-left: 8px"> Total </th>
                      <td mat-cell *matCellDef="let element" style="padding-left: 8px"> {{element.total}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Count">
                      <th mat-header-cell *matHeaderCellDef style="padding-left: 8px"> Count </th>
                      <td mat-cell *matCellDef="let element" style="padding-left: 8px"><button class="btn btn-default"><i class="far fa-eye"></i> {{element.count}} </button></td>
                    </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsIncomplete"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsIncomplete;"></tr>
                  </table>
                  <div class="right">
                    <button type="button">
                      <span><i class="fas fa-sync-alt" style="padding: auto"></i></span>
                    </button> 
                  </div>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
          </div>
        </div>
      </section>
    <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8">
              <!-- Default box -->
              <div class="card card-primary card-outline">
                <div class="card-header">
                  <h3 class="card-title">
                      <i class="fas fa-cart-plus"> </i>
                      Latest Orders
                  </h3>
                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                      <i class="fas fa-minus"></i>
                    </button>
                  </div>
                </div>
                <div class="card-body">
                  <table mat-table [dataSource]="dataSourceLatest" class="table table-striped table-bordered">
                    <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->
                    <ng-container matColumnDef="Order">
                      <th mat-header-cell *matHeaderCellDef style="padding-left: 8px"> Order # </th>
                      <td mat-cell *matCellDef="let element" style="padding-left: 8px"> {{element.orderLatest}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Order status">
                      <th mat-header-cell *matHeaderCellDef style="padding-left: 8px"> Order status </th>
                      <td mat-cell *matCellDef="let element" style="padding-left: 8px">
                        <button 
                          [ngClass]="{'btn btn-success': element.orderStatusLatest == 'Complete', 
                          'btn btn-info': element.orderStatusLatest == 'Processing', 
                          'btn btn-warning': element.orderStatusLatest == 'Pending'}"> 
                            {{element.orderStatusLatest}} 
                        </button>
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="Customer">
                      <th mat-header-cell *matHeaderCellDef style="padding-left: 8px"> Customer </th>
                      <td mat-cell *matCellDef="let element" style="padding-left: 8px"> {{element.customerLatest}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Created on">
                      <th mat-header-cell *matHeaderCellDef style="padding-left: 8px"> Created on </th>
                      <td mat-cell *matCellDef="let element" style="padding-left: 8px"> {{element.createdOn}} </td>
                    </ng-container>
                    <ng-container matColumnDef="View">
                      <th mat-header-cell *matHeaderCellDef style="padding-left: 8px"> View </th>
                      <td mat-cell *matCellDef="let element" style="padding-left: 8px"><button class="btn btn-default"><i class="far fa-eye"></i> {{element.viewLatest}} </button></td>
                    </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsLatest"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsLatest;"></tr>
                  </table>
                  <div class="float">
                    <button type="button">
                      <span><i class="fa fa-caret-left" aria-hidden="true"></i></span>
                    </button> 
                    <button class="bg-blue" type="button">
                      <span>1</span>
                    </button> 
                    <button type="button">
                      <span><i class="fa fa-caret-right" aria-hidden="true"></i></span>
                    </button> 
                  </div>
                  <div class="right">
                    <span>1-5 of 5 items</span>
                  </div>
                  <div class="clear"></div>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <div class="col-md-4">
              <!-- Default box -->
              <div class="card card-primary card-outline">
                <div class="card-header">
                  <h3 class="card-title">
                      <i class="fas fa-search"> </i>
                      Popular search keywords
                  </h3>
                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                      <i class="fas fa-minus"></i>
                    </button>
                  </div>
                </div>
                <div class="card-body">
                  <table mat-table [dataSource]="dataSourcePopular" class="table table-striped table-bordered">
                    <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->
                    <ng-container matColumnDef="Keyword">
                      <th mat-header-cell *matHeaderCellDef style="padding-left: 8px"> Keyword </th>
                      <td mat-cell *matCellDef="let element" style="padding-left: 8px"> {{element.keyword}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Count">
                      <th mat-header-cell *matHeaderCellDef style="padding-left: 8px"> Count </th>
                      <td mat-cell *matCellDef="let element" style="padding-left: 8px"> {{element.countPopular}} </td>
                    </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsPopular"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsPopular;"></tr>
                  </table>
                  <div class="float">
                    <button type="button">
                      <span><i class="fa fa-caret-left" aria-hidden="true"></i></span>
                    </button> 
                    <button class="bg-blue" type="button">
                      <span>1</span>
                    </button> 
                    <button type="button">
                      <span>2</span>
                    </button> 
                    <button type="button">
                      <span><i class="fa fa-caret-right" aria-hidden="true"></i></span>
                    </button> 
                  </div>
                  <div class="right">
                    <span>1-5 of 6 items</span>
                  </div>
                  <div class="clear"></div>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
          </div>
        </div>
      </section>
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12 col-sm-6">
              <!-- Default box -->
              <div class="card card-primary card-outline">
                <div class="card-header">
                  <h3 class="card-title">
                      <i class="fas fa-star"> </i>
                      Bestsellers by quantity
                  </h3>
                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                      <i class="fas fa-minus"></i>
                    </button>
                  </div>
                </div>
                <div class="card-body">
                  <table mat-table [dataSource]="dataSourceBestSeller" class="table table-striped table-bordered">
                    <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->
                    <ng-container matColumnDef="Name">
                      <th mat-header-cell *matHeaderCellDef style="padding-left: 8px"> Name </th>
                      <td mat-cell *matCellDef="let element" style="padding-left: 8px"> {{element.nameQuantity}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Total quantity">
                      <th mat-header-cell *matHeaderCellDef style="padding-left: 8px"> Total quantity </th>
                      <td mat-cell *matCellDef="let element" style="padding-left: 8px"> {{element.totalQuantity}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Total amount (excl tax)">
                      <th mat-header-cell *matHeaderCellDef style="padding-left: 8px"> Total amount (excl tax) </th>
                      <td mat-cell *matCellDef="let element" style="padding-left: 8px"> {{element.totalAmount}} </td>
                    </ng-container>
                    <ng-container matColumnDef="View">
                      <th mat-header-cell *matHeaderCellDef style="padding-left: 8px"> View </th>
                      <td mat-cell *matCellDef="let element" style="padding-left: 8px"><button class="btn btn-default"><i class="far fa-eye"></i> {{element.view}} </button></td>
                    </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsBestSeller"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsBestSeller;"></tr>
                  </table>
                  <div class="float">
                    <button type="button">
                      <span><i class="fa fa-caret-left" aria-hidden="true"></i></span>
                    </button> 
                    <button class="bg-blue" type="button">
                      <span>1</span>
                    </button> 
                    <button type="button">
                      <span>2</span>
                    </button> 
                    <button type="button">
                      <span>3</span>
                    </button> 
                    <button type="button">
                      <span><i class="fa fa-caret-right" aria-hidden="true"></i></span>
                    </button> 
                  </div>
                  <div class="right">
                    <span>1-5 of 12 items</span>
                  </div>
                  <div class="clear"></div>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <div class="col-12 col-sm-6">
              <!-- Default box -->
              <div class="card card-primary card-outline">
                <div class="card-header">
                  <h3 class="card-title">
                      <i class="far fa-star"> </i>
                      Bestsellers by amount
                  </h3>
                  <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                      <i class="fas fa-minus"></i>
                    </button>
                  </div>
                </div>
                <div class="card-body">
                  <table mat-table [dataSource]="dataSourceBestSeller2" class="table table-striped table-bordered">
                    <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->
                    <ng-container matColumnDef="Name">
                      <th mat-header-cell *matHeaderCellDef style="padding-left: 8px"> Name </th>
                      <td mat-cell *matCellDef="let element" style="padding-left: 8px"> {{element.nameQuantity2}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Total quantity">
                      <th mat-header-cell *matHeaderCellDef style="padding-left: 8px"> Total quantity </th>
                      <td mat-cell *matCellDef="let element" style="padding-left: 8px"> {{element.totalQuantity2}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Total amount (excl tax)">
                      <th mat-header-cell *matHeaderCellDef style="padding-left: 8px"> Total amount (excl tax) </th>
                      <td mat-cell *matCellDef="let element" style="padding-left: 8px"> {{element.totalAmount2}} </td>
                    </ng-container>
                    <ng-container matColumnDef="View">
                      <th mat-header-cell *matHeaderCellDef style="padding-left: 8px"> View </th>
                      <td mat-cell *matCellDef="let element" style="padding-left: 8px"><button class="btn btn-default"><i class="far fa-eye"></i> {{element.view2}} </button></td>
                    </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsBestSeller2"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsBestSeller2;"></tr>
                  </table>
                  <div class="float">
                    <button type="button">
                      <span><i class="fa fa-caret-left" aria-hidden="true"></i></span>
                    </button> 
                    <button class="bg-blue" type="button">
                      <span>1</span>
                    </button> 
                    <button type="button">
                      <span>2</span>
                    </button> 
                    <button type="button">
                      <span>3</span>
                    </button> 
                    <button type="button">
                      <span><i class="fa fa-caret-right" aria-hidden="true"></i></span>
                    </button> 
                  </div>
                  <div class="right">
                    <span>1-5 of 12 items</span>
                  </div>
                  <div class="clear"></div>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
          </div>
        </div>
      </section>      
    <!-- /.content -->


  </div>
