.card-welcome {
    text-align: center;
}

table {
    width: 100%;
}


.right {
    text-align: right;
    padding-top: 10px;
}

.float {
    float: left;
    padding-top: 10px;
}

.clear {
    clear: both;
}

.bg-blue {
    background-color: lightblue;
    border: 0;
}